<div class="form-wrapper">
  <h1 class="sign_in_app_title">CircleFriends</h1>
  <%= form_with model: resource, as: resource_name, url: registration_path(resource_name), class:"sign_form", local: true do |f|%>
    <div class="form-item">
      <%= f.label :name%>
      <%= f.text_field :name, autofocus: true%>
    </div>
    <div class="form-item">
      <%= f.label :email%>
      <%= f.email_field :email%>
    </div>
    <div class="form-item">
      <%= f.label :password%>
      <%= f.password_field :password, autocomplete: "off"%>
    </div>
    <div class="form-item">
      <%= f.label :password_confirmation%>
      <%= f.password_field :password_confirmation, autocomplete: "off"%>
    </div>
    <div class="button-panel">
      <%= f.submit "Create Account", class: 'sign_button'%>
    </div>
  <% end %>
  <div class="form-footer">
    <p><%= link_to "Sign in account", new_user_session_path %></p>
  </div>
</div>