<div class="wrapper">
  <div class='side-bar'>
    <%= render "shared/side_bar" %>
  </div>
  <div class='group-page'>
    <div class="group-page-header">
      <div style="display: flex">
        <div class="back-btn-area" onClick="history.back(); return false;">
          <i class="fas fa-arrow-left back-icon"></i>
        </div>
        <div class="group-list-page">
          サークル一覧
        </div>
      </div>
      <%= link_to new_group_path do%>
        <div class="group-new">サークルを作成する</div>
      <% end %>
    </div>
    <div class="group-index">
    <% current_user.groups.each do |group| %>
      <% unless GroupUser.find_by(user_id: current_user.id, group_id: group.id).permit %>
        <%= link_to group_users_participate_path(group_id: group.id), data: {"turbolinks" => false} do%>
          <div class="group-information">
            <% if group.image.present? %>
              <%= image_tag(group.image, class:"post-icon")%>
            <% else %>
              <%= image_tag("profile.png", class:"post-icon ")%>
            <% end %>
            <div class="group-name-message">
              <div class="group-names">
                <%= group.group_name %>
              </div>
              <div class="group-message">
                <% if group.chats.present? %>
                  <%= group.chats.order(created_at: :desc).take.message %>
                <% end %>
              </div>
            </div>
            <div class="group-participate-area">
              <div class="group-participate">
                未参加
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <%= link_to group_chats_path(group), class:"group_path", data: {"turbolinks" => false} do%>
          <div class="group-information">
            <% if group.image.present? %>
              <%= image_tag(group.image, class:"post-icon")%>
            <% else %>
              <%= image_tag("profile.png", class:"post-icon ")%>
            <% end %>
            <div class="group-name-message">
              <div class="group-names">
                <%= group.group_name %>
              </div>
              <div class="group-message">
                <% if group.chats.present? %>
                  <%= group.chats.order(created_at: :desc).take.message %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>
  <div class='left-bar'>
    <%= render "shared/left_bar" %>
  <div>
</div>