<% unless current_user == user %>
  <% if current_user.following?(user) %>
    <%= form_for(current_user.relationships.find_by(follow_id: user.id), method: :delete,remote: true ) do |f| %>
      <%= hidden_field_tag :follow_id, user.id %>
      <%= f.submit 'Unfollow', class: 'unfollw-button' %>
    <% end %>
  <% else %>
    <%= form_for(current_user.relationships.build, remote: true ) do |f| %>
      <%= hidden_field_tag :follow_id, user.id %>
      <%= f.submit 'Follow', class: 'follw-button' %>
    <% end %>
  <% end %>
<% end %>
<div class='follow-follower'>
  <%= link_to "#", class:"follow-link" do %>
    <span class='follow-count'><%= "#{user.followings.count}" %></span><span class="follow">フォロー中<span>
  <% end %>
  <%= link_to "#" do %>
    <span class='follower-count'><%= "#{user.followers.count}" %></span><span class="follower">フォロワー<span>
  <% end %>
</div>