<div class="wrapper">
  <div class='side-bar'>
    <%= render "shared/side_bar" %>
  </div>
  <div class='user-edit'>
      <div class='profile-area' style="height: 100% ">
        <div class="snip1344" style="height: 100%; overflow: scroll">
        <%= form_with model: @user, local: true do |f| %>
          <label>
            <% if @user.image.present? %>
              <%= image_tag @user.image, class: "background background-image" %>
                <%= image_tag @user.image, class: "user-profile user-profile-image" %>
            <% else %>
              <%= image_tag "profile.png", class:"background background-image" %>
                <%= image_tag "profile.png", class:"user-profile user-profile-image"  %>
            <% end %>
            <%= f.file_field :image, class:"hidden hidden_file" %>
          </label>

          <figcaption>
            <div class='user-information-edit'>
              <div class='edit-name-area' style='margin-bottom: 20px'>
                <h3><span>名前</span></h3>
                <%= f.text_field :name, class: 'edit-name', maxlength: '30'%>
              </div>
              <div class='edit-job-area' style='margin-bottom: 20px'>
                <h3><span>お仕事</span></h3>
                <%= f.text_field :job, class: 'edit-job'%>
              </div>
              <div class='edit-profile-area' style='margin-bottom: 20px'>
              <h3><span>自己紹介</span></h3>
                <%= f.text_area :profile, class: 'edit-profile', maxlength: '200'%>
              </div>
               <div class="form-sns">
                <%= f.text_field :twitter, placeholder: "Twitter URL", class: "form-control" %>
              </div>
              <div class="form-sns">
                <%= f.text_field :facebook, placeholder: "Facebook URL", class: "form-control" %>
              </div>
              <div class="form-sns">
                <%= f.text_field :instagram, placeholder: "Instagram URL", class: "form-control" %>
              </div>
              <div class="form-sns">
                <%= f.text_field :youtube, placeholder: "Youtube URL", class: "form-control" %>
              </div>
              <div class="form-sns">
                <%= f.text_field :line, placeholder: "Line URL", class: "form-control" %>
              </div>
              <div>
              <%= f.submit 'OK', class: 'user-edit-btn' %>
              </div>
            </div>
          </figcaption>
        <% end %>
        </div>
      </div>
  </div>
  <div class='left-bar'>
    <%= render "shared/left_bar" %>
  <div>
</div>