<div class="wrapper">
  <div class='side-bar'>
    <%= render "shared/side_bar" %>
  </div>

  <div class='my-page'>
    <div class='my-page-header'>
      <%= link_to root_path do %>
        <div class="back-btn-area">
          <i class="fas fa-arrow-left back-icon"></i>
        </div>
      <% end %>
      <h2 class='my-page-name'>
        <%= @user.name %>
      </h2>
      <% if current_user.id == @user.id %>
        <div style="margin: 0 0 0 auto">
          <%= link_to edit_user_path(@user), style:"text-decoration: none" do %>
            <div class="profile-edit-path-area">
              <span class="profile-edit-path">プロフィールを編集</span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class='show-main'>
      <div class='profile-area'>
        <figure class="snip1344" style="height: 500px">
          <% if @user.image.present? %>
            <%= image_tag @user.image, class: "background" %>
            <%= image_tag @user.image, class: "user-profile" %>
          <% else %>
            <%= image_tag "profile.png", class:"background" %>
            <%= image_tag "profile.png", class:"user-profile"  %>
          <% end %>
          <figcaption>
            <h3><%= @user.name %><span class="profile-job"><%= @user.job %></span></h3>
            <div class="sns-icons">
              <% if @user.twitter.present? %>
                <%= link_to @user.twitter, target: :_blank do %>
                  <i class="fab fa-twitter" style='width: 30px; height: 30px'></i>
                <% end %>
              <% end %>
              <% if @user.instagram.present? %>
                <%= link_to @user.instagram, target: :_blank do %>
                  <i class="fab fa-instagram" style='width: 30px; height: 30px'></i>
                <% end %>
              <% end %>
              <% if @user.youtube.present? %>
                <%= link_to @user.youtube, target: :_blank do %>
                  <i class="fab fa-youtube" style='width: 30px; height: 30px'></i>
                <% end %>
              <% end %>
              <% if @user.facebook.present? %>
                <%= link_to @user.facebook, target: :_blank do %>
                  <i class="fab fa-facebook-square" style='width: 30px; height: 30px'></i>
                <% end %>
              <% end %>
              <% if @user.line.present? %>
                <%= link_to @user.line, target: :_blank do %>
                  <i class="fab fa-line" style='width: 30px; height: 30px'></i>
                <% end %>
              <% end %>
            </div>
            <div class="profile-message">
              <%= @user.profile %>
            </div>
            <% unless current_user == @user %>
              <% if current_user.following?(@user) %>
                <%= form_for(current_user.relationships.find_by(follow_id: @user.id), html: { method: :delete }) do |f| %>
                  <%= hidden_field_tag :follow_id, @user.id %>
                  <%= f.submit 'Unfollow', class: 'unfollw-button' %>
                <% end %>
              <% else %>
                <%= form_for(current_user.relationships.build) do |f| %>
                  <%= hidden_field_tag :follow_id, @user.id %>
                  <%= f.submit 'Follow', class: 'follw-button' %>
                <% end %>
              <% end %>
            <% end %>
            <div class='follow-follower'>
              <%= link_to "#", class:"follow-link" do %>
                <span class='follow-count'><%= "#{@user.followings.count}" %></span><span class="follow">フォロー中<span>
              <% end %>
              <%= link_to "#" do %>
                <span class='follower-count'><%= "#{@user.followers.count}" %></span><span class="follower">フォロワー<span>
              <% end %>
            </div>
            </figcaption>
        </figure>
      </div>
      
      <div class='my-posts-list'>
        <%= render partial: "posts/post" %>
      </div>
    </div>
  </div>

  <div class='left-bar'>
    <%= render "shared/left_bar" %>
  <div>
</div>
