<div class='side'>
  <div class="side-header">
    <h3 class="app-title">CircleFriends</h3>
    <div class="list-right">
      <% if user_signed_in? %>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </div>
  </div>

  <div class='side-main'>
    <div style='width: 25%; height: 100%'></div>
    <div style='width: calc(100% - 25%); height: 100%'>
    <ul class='side-list'>
      <%= link_to root_path do%>
        <div class='home'>
          <div class="side-icon-area">
            <i class="fas fa-home side-icon"></i>
          </div>
          <li class="home-list">ホーム</li>
        </div>
      <% end %>
      <%= link_to groups_path do%>
        <div class='circle'>
          <div class="side-icon-area">
            <i class="fas fa-hands-helping side-icon"></i>
          </div>
          <li class="circle-list">サークル</li>
        </div>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to user_path(current_user) do%>
          <div class='profile'>
            <div class="side-icon-area">
              <i class="fas fa-user side-icon"></i>
            </div>
            <li class="profile-list">プロフィール</li>
          </div>
        <% end %>
      <% end %>
      <%= link_to searches_path do%>
        <div class='side-search'>
          <div class="side-icon-area">
            <i class="fas fa-search side-icon"></i>
          </div>
          <li class="search-list">検索</li>
        </div>
      <% end %>
    </ul>
    </div>
  </div>
  
  <div class='side-footer'>
    <div class='footer-user'>
    <% if user_signed_in? %>
      <%= current_user.name %>
    <% end %>
    </div>
  </div>
</div>

