<div class='side'>
  <div class="side-header">
    <h3 class="app-title">CircleFriends</h3>
    <div class="list-right">
      <% if user_signed_in? %>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
      <% end %>
    </div>
  </div>

  <div class='side-main'>
    <div style='width: 25%; height: 100%'></div>
    <div style='width: calc(100% - 25%); height: 100%'>
    <ul class='side-list'>
      <div class='home'>
        <%= link_to image_tag("home.png", class:"home-icon"), root_path %>
        <li><%= link_to 'ホーム', root_path, class: "home-list", style:'text-decoration: none'%></li>
      </div>
      <div class='circle'>
      <%= link_to image_tag("circle.png", class:"circle-icon"), groups_path %>
        <li><%= link_to 'サークル', groups_path, class: "circle-list", style:'text-decoration: none'%></li>
      </div>
      <% if user_signed_in? %>
        <div class='profile'>
        <%= link_to image_tag("profile.png", class:"profile-icon"), user_path(current_user) %>
          <li><%= link_to 'プロフィール', user_path(current_user), class: "profile-list", style:'text-decoration: none' %></li>
        </div>
      <% end %>
    </ul>
    </div>
  </div>
  
  <div class='side-footer'>
    <div class='footer-user'>
    <% if user_signed_in? %>
      <%= current_user.name %>
    <% end %>
    </div>
  </div>
</div>