<div class="form-wrapper">
  <h1 class="sign_in_app_title">CircleFriends</h1>
  <%= form_with model: resource, as: resource_name, url: session_path(resource_name), class:"sign_form", local: true do |f|%>
    <div class="form-item">
      <%= f.label :email%>
      <%= f.email_field :email, autofocus: true%>
    </div>
    <div class="form-item">
      <%= f.label :password%>
      <%= f.password_field :password, autocomplete: "off"%>
    </div>
    <div class="button-panel">
      <%= f.submit "Sign In", class: 'sign_button'%>
    </div>
  <% end %>
  <div class="form-footer">
    <p><%= link_to "Create an account", new_user_registration_path %></p>
  </div>
</div>
