<div class='search-header'>
  <div class="search-form-area">
    <%= form_with url: searches_path, method: 'get', id:'search', class:'search' do |f|%>
      <%= button_tag type: "submit", class: "search-btn" do %>
        <%= image_tag("search.png", class: "search-btn") %>
      <% end %>
      <%= f.search_field :search, class: "search-form", id: "search_area", placeholder: "キーワードで検索", value: @search_result%>
    <% end %>
  </div>
  <div class="search-path-areas">
    <div class="search-path">
      <%= link_to searches_path(search: @search_result), style:"text-decoration: none", remote: true do %>
        <div class="search-path-area">
          <span>ツイート</span>
        </div>
      <% end %>
    </div>
    <div class="search-path">
      <%= link_to searches_search_name_path(search: @search_result), style:"text-decoration: none" do %>
        <div class="search-path-area">
          <span>アカウント</span>
        </div>
      <% end %>
    </div>
    <div class="search-path">
      <%= link_to searches_search_job_path(search: @search_result), style:"text-decoration: none" do %>
        <div class="search-path-area">
          <span>お仕事</span>
        </div>
      <% end %>
    </div>
    <div class="search-path">
      <%= link_to searches_search_group_path(search: @search_result), style:"text-decoration: none" do %>
        <div class="search-path-area">
          <span>サークル</span>
        </div>
      <% end %>
    </div>
  </div>
</div>