<div class='post-header'>
</div>

<div class='post-main'>
  <% @posts.each do |post| %>
    <div class="post">
    <div class="upper-post">
      <%= link_to image_tag("app-icon2.png", class:"post-icon"), "/" %>
      <div class="post-user">
        <%= post.user.name %>
      </div>
      <div class="date">
        <%= time_ago_in_words(post.created_at) %>前
      </div>
    </div>
    <div class="unde-post">
      <div class="post-content">
        <%= post.text %>
      </div>
      <%= image_tag post.image.variant(resize: '500x500'), class: 'post-image' if post.image.attached? %>
    </div>
  </div>
  <% end %>
</div>

<%= form_with model: @post, class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :text, class: 'form-text', placeholder: '投稿しよう！' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-send' %>
<% end %>